# Host to run the agent on
HOST="127.0.0.1"
# Port to run the agent on
PORT=5000
# Libvirt connection URI
LIBVIRT_URI="qemu:///session"
# Will output some debug info if set to "true"
DEBUG="true"
# Use "macos " or "linux" depending on your OS
SYSTEM="macos"  